<div class="container" style="width: 100%; ">
  <div class="row">
    <div class="col-6">

      <mat-card style="margin-top:5vh ;">
        <mat-card-title>
          Registro de puntos 
        </mat-card-title>
        <form action="">
          <table class="table text-center" style="text-align:center;">
            <thead>
              <tr>
                <th>Empleado</th>
                <th>Puntos</th>
              <th>Estimulos</th>
              </tr>
              
            </thead>
            <tbody>
              <tr>
                <td>
                  <select  class="form-control" >
                    <option [value]="emplea.idEmpleado" *ngFor="let emplea of empleado">{{emplea.nombre}} {{emplea.apellido}} - {{emplea.idCargo?.cargo}}  </option>
                  </select>
                </td>
                
                <td>
                  <input type="number" class="form-control" >
                </td>
                
                <td>
                  <textarea name="" class="form-control"  id="" cols="30" rows="10" placeholder="Razón de los puntos"></textarea>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">
                  <button class="btn btn-primary" style="float:right ;">Guardar</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </form>
      </mat-card>
    </div>
    <div class="col">
      
  <mat-card style="margin-top:5vh ;">
    <mat-card-title>
      Registro de Incidencias 
    </mat-card-title>
    <form action="">
      <table class="table" style="text-align:center;">
        <thead>
          <tr>
            <th>Empleado</th>
            <th>- Puntos</th>
          <th>Incidencia</th>
          </tr>
          
        </thead>
        <tbody>
          <tr>
            <td>
              <select  class="form-control" style="width: 100%;">
                <option [value]="emplea.idEmpleado" *ngFor="let emplea of empleado">{{emplea.nombre}} {{emplea.apellido}} - {{emplea.idCargo?.cargo}}  </option>
             
              </select>
            </td>
              <td>
                <input type="number" class="form-control" >
              </td>
            <td>
              <textarea name="" class="form-control"  id="" cols="30" rows="10" placeholder="Reporte de incidencia "></textarea>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <button class="btn btn-danger" style="float:right ;">Guardar</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </form>
  </mat-card>

    </div>
  </div>
</div>