<div class="container">
  <mat-card style="margin-top: 5vh;">
    <mat-card-title>
      Propinas KAVA
    </mat-card-title>
  </mat-card>
  <mat-card style="width:100%; box-shadow: 1px gray; margin-top: 5vh; top:5vh">
    <table class="table table-light table-hover"  style="width:100%; box-shadow: 1px gray; margin-top: 5vh; top:5vh">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">NOMBRE</th>
          <th scope="col">CARGO</th>
          <th scope="col">PUNTOS</th>
          <th scope="col">DIAS LABORADOS</th>
          <th scope="col">PROPINA POR PUNTOS</th>
          <th scope="col">TOTAL PROPINA A RECIBIR</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          
        </tr>
       
      </tbody>
    </table>
  
  </mat-card>
  </div>
