<div class="" style=" width:100%; margin-top:5vh">
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" novalidate>
  <div class="row" style="margin:0 auto ;">
    <div class="col" >
      
      <mat-card >
          <mat-card-title>Registro de empleados</mat-card-title>
          <div class="form-group" >
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">
           
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Apellido</label>
            <input type="text" class="form-control" formControlName="apellido">
          
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Identificacion</label>
            <input type="number" class="form-control" formControlName="identificacion">
          </div>
          

          
          <div class="form-group" >
            <label for="exampleInputPassword1" >Cargo</label>
            <select type="number" class="form-control" formControlName="id" (change)="onChangeCargo($event.target)">
              <option value="" class="form-control">
                Seleccione..
            </option>
            <option  *ngFor="let carg of cargo" [value]="carg.id">{{carg.cargo}}</option>
            
            </select>
          
          
        </div>
          <div class="row" id="nuevo">
            <div class="col">
              <button type="submit" class="btn btn-danger">Grabar</button>
            </div>
            <div class="col">
              <button class="btn btn-info" (click)="openAddcion()" style="float:right ;">Crear Nuevo Cargo </button>
            </div>
          </div>
        
      
      </mat-card>
  
      </div>
      <div class="col">
       
        <mat-card>
          <mat-card-title>
            Consultar empleado
          </mat-card-title>
          <mat-card-content>
            <div class="row">
              <div class="col-7">
                <label for="">Empleados</label>
                <select class="form-control" type="number" (change)="getConsulta($event.target)">
                  <option selected>Seleccione...</option>
                  <option [value]="empleado.id" *ngFor="let empleado of empleados">{{empleado.nombre}}-{{empleado.idCargo?.cargo}}</option>
                </select>
                <button class="btn btn-info" style="margin-top:2vh ;" (click)="show()">Consultar</button>
              </div>
              
            </div>
          </mat-card-content>
        </mat-card>
     
      </div>
      <div class="col-4">
        <mat-card style="" *ngIf="mostrar">
          <table class="table">
            <thead>
              <tr>
              
                <th>Dias laborados</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>{{dias}}</td>
                
              </tr>
            </tbody>
          </table>
        
        </mat-card>
        
        </div>
  </div>
  
    
 
</form>
</div>