<div class="container">
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" novalidate>
  <div class="row" style="margin-top: 4vh;">
    <div class="col" >
      
      <mat-card >
          <mat-card-title>Registro de empleados</mat-card-title>
          <div class="form-group" >
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">
           
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Apellido</label>
            <input type="text" class="form-control" formControlName="apellido">
          
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Identificacion</label>
            <input type="number" class="form-control" formControlName="identificacion">
          </div>
          

          
          <div class="form-group" >
            <label for="exampleInputPassword1" >Cargo</label>
            <select type="number" class="form-control" formControlName="id" (change)="onChangeCargo($event.target)">
            <option  *ngFor="let carg of cargo" [value]="carg.id">{{carg.cargo}}</option>
            
            </select>
          
          
        </div>
          <div class="row" id="nuevo">
            <div class="col">
              <button type="submit" class="btn btn-danger">Grabar</button>
            </div>
            <div class="col">
              <button class="btn btn-info" (click)="openAddcion()" style="float:right ;">Crear Nuevo Cargo </button>
            </div>
          </div>
        
      
      </mat-card>
  
      </div>
      <div class="col">
        <mat-card>
          <mat-card-title>
            Consultar empleado
          </mat-card-title>
          <mat-card-content>
            <div class="row">
              <div class="col">
                <label for="">Identificación</label>
                <input class="form-control" type="number" formControlName="identificacion">
                <button class="btn btn-info" style="margin-top:2vh ;" (click)="show()">Consultar</button>
              </div>
              
            </div>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card style="" *ngIf="mostrar">
        <table class="table">
          <thead>
            <tr>
              <th>Empleado</th>
              <th>Estimulos</th>
              <th>Incidencias</th>
              <th>Puntos</th>
              <th>- Puntos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      
      </mat-card>
      </div>
  </div>
</form>
</div>