


<div class="container" style="margin-top:4vh; top:4vh">
    <form action="" [formGroup]="formReg" (ngSubmit)="onSubmit()">
    <mat-card >
        <mat-card-title>
            Asistencia del empleado
        </mat-card-title>
        <table class="table">
            <thead>
            <tr>
             <th>Identificacion</th>
            <th>Cargo</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="number" formControlName="identificacion" class="form-control" placeholder="Ingresar documento de Identidad">
                    </td>
                    <td>
                        <select name="" id="" formControlName="cargo" class="form-control">
                            <option value="" class="form-control">
                                Seleccione..
                            </option>
                            <option value="1" class="form-control">Administrador</option>
                        </select>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"> <button class="btn btn-primary" style="float:right ;">Grabar</button></td>
                </tr>
               
            </tfoot>
        </table>
    </mat-card>
</form>
</div>
