<h1>Bienvenido!!</h1>


<div class="container">
    <mat-card>
        <mat-card-title>
            Asistencia del empleado
        </mat-card-title>
        <table class="table">
            <thead>
            <tr>
             <th>Identificacion</th>
            <th>Cargo</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="number" class="form-control" placeholder="Ingresar documento de Identidad">
                    </td>
                    <td>
                        <select name="" id="" class="form-control">
                            <option value="" class="form-control">
                                Seleccione..
                            </option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card>
</div>
