/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap');
html, body { height: 100%;background-color: rgb(255, 254, 244); font-family: 'Averia Gruesa Libre', cursive !important; }
body { margin: 0; font-family: 'Averia Gruesa Libre', cursive !important; }

.mat-card{
    font-family: 'Averia Gruesa Libre', cursive !important; 
}